apiVersion: v1
kind: Service
metadata:
  name: admission-controller
  namespace: admission-controller
  labels:
    app: admission-controller
spec:
  ports:
    - port: 443
      targetPort: 8443
      protocol: TCP
      name: https
  selector:
    app: admission-controller
