/Users/mroushdy/code/tf-course-code/003-tf-vm01/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/003-tf-vm01/terraform.tfstate
/Users/mroushdy/code/tf-course-code/003-tf-vm01/terraform.tfstate.backup
/Users/mroushdy/code/tf-course-code/003-tf-vm01/.terraform
/Users/mroushdy/code/tf-course-code/004-tf-vm02/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/004-tf-vm02/.terraform
/Users/mroushdy/code/tf-course-code/004-tf-vm02/terraform.tfstate
/Users/mroushdy/code/tf-course-code/004-tf-vm02/terraform.tfstate.backup
/Users/mroushdy/code/tf-course-code/005-ModifyVM/.terraform
/Users/mroushdy/code/tf-course-code/005-ModifyVM/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/005-ModifyVM/terraform.tfstate
/Users/mroushdy/code/tf-course-code/005-ModifyVM/terraform.tfstate.backup
/Users/mroushdy/code/tf-course-code/006-tf-multivm/.terraform
/Users/mroushdy/code/tf-course-code/006-tf-multivm/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/006-tf-multivm/terraform.tfstate
/Users/mroushdy/code/tf-course-code/006-tf-multivm/terraform.tfstate.backup
/Users/mroushdy/code/tf-course-code/007-tf-importvm/.terraform
/Users/mroushdy/code/tf-course-code/007-tf-importvm/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/007-tf-importvm/terraform.tfstate
/Users/mroushdy/code/tf-course-code/007-tf-importvm/terraform.tfstate.backup
/Users/mroushdy/code/tf-course-code/008-createCluster/.terraform
/Users/mroushdy/code/tf-course-code/008-createCluster/.terraform.lock.hcl
/Users/mroushdy/code/tf-course-code/008-createCluster/terraform.tfstate